<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHISEIDO</title>
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Prompt&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/terms_PC.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/body_header.css') }}">


</head>
<body>
  <!-- header -->
  <header class="header-wrapper">
    <div class="hesder-inner"><br>
      <h1 class="site-title"><a href="{{url_for('top')}}">AI姿勢推定サービス「姿勢どう？」</a></h1>
      <nav class="header-nav">
        <ul class="#nav-list">
          <li class="nav-item"><a href="{{url_for('about')}}">ABOUT</a></li>
          <li class="nav-item"><a href="{{url_for('use')}}">USE</a></li>
          <li class="nav-item"><a href="{{url_for('info')}}">INFO</a></li>
          <li class="nav-item"><a href="{{url_for('contact')}}">CONTACT</a></li>
        </ui>
      </nav>
    </div>
  </header>
<!-- //header -->

<!-- main -->
<main>
  <div>
    <h2 class="terms_top">利用規約</h2>
  </div>
  <div class="terms_content">
    <article>
      <h2>本サービスのご利用について</h2><br>
      <p>齊藤拓巳（以下、当社）は、本サービスの所有者であり運用について以下の利用規約を定めています。本サービスを利用することで、ユーザーは以下記載の利用規約に従うことに同意したものとみなされます。また、本規約は、当社の判断により、いつでも任意に変更することができるものとし、本規約の変更後にユーザーが本サービスを利用した場合には、変更後の利用規約の全てに同意したものとみなします。      </p><br>
      <h2>本サービスで利用する画像ファイルの取り扱い</h2><br>
      <p>1.本サービスでアップロードできるファイルは「jpg / png / gif」の画像ファイルのみです。</p>
      <p>2.当社は本サービスにアップロードされた画像ファイルを管理、保存する義務を負いません。</p>
      <p>3.システムの過負荷、システムの不具合、メンテナンス、法令の制定改廃、天災地変、停電、通信障害、不正アクセス、その他の事由による画像ファイルの破損、消失に関して一切責任を負いません。</p><br>
      <h2>本サービスの中断、停止</h2><br>
      <p>当社は、以下の場合においては、事前の予告なくして、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。</p>
      <p>1.運営会社がネットワーク、サーバー、システム等の保守を行う場合</p>
      <p>2.通信回線等が事故により停止した場合</p>
      <p>3.地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの提供ができなくなった場合</p>
      <p>4.その他当社が中断又は停止を必要と判断した場合</p><br>
      <p>当社は、前項の規定により、本サービスが中断又は停止したことに起因又は関連してユーザーに生じた損害について、予見性の有無にかかわらず、また、直接的又は間接的な損害を問わず、一切責任を負わないものとします。</p><br>
      <h2>本サービスの免責事項
      </h2><br>
      <p>前条の定めるとおり、当社が必要と判断した場合は、ユーザーに通知することなくいつでも本サービスを追加、変更、中断、終了することができます。この場合に生じたいかなる損害についても、当社は一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。</p><br>
      <p>1.当社は本サービスを利用したことにより発生しうる、ユーザーへの如何なる障害および事故等について一切責任を負いません。
      </p>
      <p>2.当社は本サービスの利用に起因して生じる通常の損害、懲罰的損害、特別な損害、間接的損害、結果的損害もしくは付随的損害、または利益損失その他の損害、コスト、損失に対して、利用者または他の者もしくは事業体に一切の責任を負わないものとします。</p>
      <p>3.当社は本サービスでアップロードされた画像ファイルについて、適法性、正確性等に関し一切の責任を負いません。
      </p>
      
      
      </article>
  </div>
  <h3 class="top-privacy"><a name="terms" href="{{url_for('terms')}}">利用規約</a></h3>
<!-- //main -->
</main>
<!-- footer --->
<footer>
</footer>
<!-- //footer -->
</body>
</html>
